# requirements.txt

# Framework pour l'API web
fastapi

# Serveur ASGI pour FastAPI
uvicorn[standard]

# Nécessaire pour la gestion des fichiers uploadés par formulaire
python-multipart

# Bibliothèque de Deep Learning
# Version CPU uniquement pour une compatibilité maximale
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu

# Bibliothèque pour la manipulation d'images
Pillow

# Bibliothèque pour faire des requêtes HTTP (pour le script client)
requests